.autocomplete-wrapper {
	align-self: center;
	margin: 5px;
}

.autocomplete-field {
	border: 1px solid #000;
}

.autocomplete-list {
	border-radius: 3px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.9);
	padding: 2px 0;
	font-size: 90%;
	position: fixed;
	overflow: auto;
	max-height: 100px;
}

.autocomplete-item {
	cursor: default;
}
.autocomplete-item-selected {
	background-color: lightgray;
}
